body {
  font-family: "Open Sans", sans-seriff; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046c5; }

header h2 {
  color: #cec8ff; }

.footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0; }

.site-footer {
  background-image: linear-gradient(#cec8ff, white);
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  /*  version 1
    background-image: linear-gradient(to right, #5637dd, #3046C5, #60106b); */
  /* Version 2 
    background-image: linear-gradient(to right, #6BD1A0, #E786A1, #5FFB6F); */
  background-image: linear-gradient(to right, #C86BD1, #5637dd, #FB725F, #3046c5, #60106b);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #901CAD; }

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px ridge;
  min-height: 200px; }

.carousel {
  /*  Version 1 
    border: solid #5637DD; */
  border: solid 5px #5637dd; }

.reserveText {
  background-color: rgba(0, 0, 0, 0.5); }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }
